/* defining reused colors */
:root {
    --aqua: #66CCCC;
    --gray: #3d3d3d;
    --subBlue: #98c0e4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
}

/* header section: handles title and site links */
header {
    padding: 20px 20px 20px 0;
    background: var(--gray);
}

header h1 {
    text-align: start;
    text-indent: 10%;
    width: 320px;
    display: inline-block;
    background-color: var(--aqua);
    color: var(--gray);
}

header nav {
    color: var(--aqua);
    text-align: end;
    float: right;
}

header nav a {
    color: var(--aqua);
    display: inline-block;
    font-size: 120%;
    padding: 10px;
    text-decoration-thickness: 3px;
}

/* site links will turn white when hovering over them */
header ul a:hover {
    color: white;

}

/* next 3 sections displays developer name, profile pic and background image */
#name-tag {
    background-color: var(--aqua);
    position: absolute;
    top: 195px;
    text-align: center;
    left: 349px;
    color: var(--gray);
    padding: 20px 40px 20px 40px;
    text-decoration: overline underline;
}

.profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50px;
    border-style: solid;
    border-color: var(--aqua);
    margin: -19rem 6rem;
    margin-bottom: 50px;
    background-image: url("../images/profile-pic.jpg");
    background-size: cover;
    background-position: center;
}

.background-pic {
    height: 300px;
    width: 100vw;
    margin-bottom: 25px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

/* main section: contains about me and work sections */
main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}

main h1 {
    color: var(--subBlue);
    text-align: end;
    font-size: 40px;
    margin: 15px 15px 0 70px;
}

/* about me section */
.about-me-section {
    display: flex;
}

#about-me-para {
    border-left: 5px solid var(--subBlue);
}

.about-me-section p {
    margin-left: 15px;
    line-height: 20px;
}

/* work section - contains 5 work cards that display project images and links */
.work-section {
    display: flex;
    align-items: start;
    margin-top: 15px;
}

.work-section h1 {
    margin-left: 79px;
}

.work-cards-group {
    border-left: 5px solid var(--subBlue);
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
}

.work-card {
    margin-left: 15px;
    flex: 1 1 45%;
    outline: solid var(--aqua);
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

/* class for the first card to make it bigger than the other 4 */
.biggest-card {
    flex: 100%;
    outline: solid var(--aqua);
    margin-left: 15px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

/* handles project titles and images */
.project-header {
    background-color: var(--aqua);
    position: absolute;
    bottom: 30px;
    color: var(--gray);
    padding: 30px 50px 30px 20px;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    width: fit-content;
}

/* footer section: contains the contact info section */
footer {
    color: var(--subBlue);
    display: flex;
    align-items: center;
}

footer h1 {
    text-align: end;
    font-size: 40px;
    margin: 1px 10px 15px 0px;
}

.contact-info {
    border-left: 5px solid var(--subBlue);
    font-size: 120%;
}

.contact-info ul {
    margin-bottom: 20px;
    margin-left: 10px;
}

/* contact links */
.link-element {
    margin: 10px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

/* section to handle tablet layout changes */
@media screen and (max-width: 1023px) {
    header {
        padding: 0;
    }

    header h1 {
        width: 100vw;
        text-align: center;
        text-indent: 0;
    }

    header nav {
        text-align: center;
        float: none;
    }

    main {
        flex-direction: column;
    }

    main h1 {
        margin-left: 0;
    }

    .about-me-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 20px 0 20px;
    }

    #about-me-para {
        padding-top: 0;
        border-top: 5px solid var(--subBlue);
        border-left: 0;
    }

    .about-me-section p {
        margin-top: 10px;
    }

    .work-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px 0 35px;
    }

    .work-section h1 {
        margin-left: 0;
    }

    .work-cards-group {
        border-top: 5px solid var(--subBlue);
        border-left: 0;
        margin-top: 10px;
    }

    .biggest-card {
        margin-top: 25px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 15px 0 35px;
    }

    .contact-info {
        border-top: 5px solid var(--subBlue);
        border-left: 0;
    }
}


/* section to handle mobile layout changes */
@media screen and (max-width: 600px) {
    .work-card {
        flex: 100%;
    }

    #name-tag {
        top: 310px;
        text-align: center;
        left: 97px;
        border-radius: 0 0 15px 15px;
        padding: 10px 55px 10px 55px;
    }
}

/* section to handle laptop layout changes */
@media screen and (min-width: 1023px) {
    main {
        margin-right: 50px;
    }

    .contact-info {
        width: 94%;
        padding: 10px 0;
    }
}