:root{
    --aqua: #66CCCC;
    --gray: gray;
}

* {
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
}

header {
    padding: 20px 20px 20px 0;
    background: var(--gray);
}

header h1 {
    text-align: start;
    text-indent: 10%;
    width: 320px;
    display: inline-block;
    background-color: var(--aqua);
    color: var(--gray);
}

header nav{   
    color: var(--aqua);
    text-align: end;
    float: right;
}

header nav a {
    color: var(--aqua);
    display: inline-block;   
    font-size: 120%;
    padding: 10px;
    text-decoration-thickness: 3px;
}

header ul a:hover {
    color: white;

}

.profile-pic {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50px;
    border-style: groove;
    border-color: #66CCCC;
    margin: -19rem 8rem;
    margin-bottom: 50px;
    background-image: url("../images/profile-pic.jpg");
    image-resolution: from-image 300dpi;
    background-size: cover;
    background-position:center;
}

.background-pic {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 1023px) {
    header {
        padding: 0;
    }
    header h1{
        width: 100%;
        text-align: center;
        text-indent: 0;
    }
    header nav{
        width: 100%;
        text-align: center;
        float: none;
    }
}

