:root {
    --aqua: #66CCCC;
    --gray: #3d3d3d;
    --subBlue: #98c0e4;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    padding: 20px 20px 20px 0;
    background: var(--gray);
}

header h1 {
    text-align: start;
    text-indent: 10%;
    width: 320px;
    display: inline-block;
    background-color: var(--aqua);
    color: var(--gray);
}

header nav {
    color: var(--aqua);
    text-align: end;
    float: right;
}

header nav a {
    color: var(--aqua);
    display: inline-block;
    font-size: 120%;
    padding: 10px;
    text-decoration-thickness: 3px;
}

header ul a:hover {
    color: white;

}

.profile-pic {
    height: 250px;
    width: 250px;
    border-radius: 50px;
    border-style: groove;
    border-color: var(--aqua);
    margin: -19rem 8rem;
    margin-bottom: 50px;
    background-image: url("../images/profile-pic.jpg");
    background-size: cover;
    background-position: center;
}

.background-pic {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main h1 {
    color: var(--subBlue);
    text-align: end;
    font-size: 40px;
    margin: 15px 15px 0 70px;
    justify-content: center;
}

.about-me-section {
    display: flex;
    align-items: stretch;
}

#about-me-para {
    border-left: 5px solid var(--subBlue);
}

.about-me-section p {
    margin-left: 15px;
    line-height: 20px;
}

.work-section {
    display: flex;
    align-items: stretch;
    margin-top: 15px;
}

.work-section h1{
    margin-left: 78px;
}

.work-cards-group {
    border-left: 5px solid var(--subBlue);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 50%;
    width: 80%;
}

.work-card {
    margin-left: 15px;
    flex: 2 2 300px; 
    /* flex:40%; */
    outline: solid var(--aqua);
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

.work-card a:hover {
    background-color: yellow;
    color: yellow;
}

.biggest-card {
    flex: 100%;
    outline: solid var(--aqua);
    margin-left: 15px;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
}

.project-header {
    background-color: var(--aqua);
    position: absolute;
    bottom: 30px;
    color: var(--gray);
    padding: 30px 50px 30px 20px;
}

figure img {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
}

footer {
    color: var(--subBlue);
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-bottom: 25px;
}

footer h1 {
    text-align: end;
    font-size: 40px;
    margin: 1px 10px 15px 0px;
    flex-wrap: wrap;
    display: flex;
}

.contact-info {
    border-left: 5px solid var(--subBlue);
    font-size: 120%;
}

.contact-info ul {
    margin-left: 15px;
}

.link-element {
    margin: 10px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}


@media screen and (max-width: 1023px) {
    header {
        padding: 0;
    }

    header h1 {
        width: 100%;
        text-align: center;
        text-indent: 0;
    }

    header nav {
        width: 100%;
        text-align: center;
        float: none;
    }

    main {
        flex-direction: column;
    }
}

@media  screen and (max-width: 425px) {
    .work-card{
        flex: 100%;
    }
}